@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

 

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00631e00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #06960b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #02511ac7;
}
